Source: qrtr
Maintainer: venji10 <venji10@riseup.net>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9)

Package: qrtr
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Description: qrtr
